version: "3"

services:
  gcgc:
    build:
      context: .
    image: docker.io/thauck/gcgc:0.12.0-dev.7
    volumes:
      - $PWD/gcgc/data:/data
    entrypoint:
      - gcgc
  yeyo:
    image: docker.io/thauck/yeyo:0.3.0-dev.2
    volumes:
      - $PWD:/project
      - $HOME/.gitconfig:/etc/gitconfig
