version: "3"

services:
  gcgc:
    build:
      context: .
      args:
        PY_VERSION: "${PY_VERSION:-3.7}"
    image: docker.io/thauck/gcgc:${TAG-0.12.2-dev.1}
    volumes:
      - $PWD/gcgc/data:/data
    entrypoint:
      - just
    working_dir: /gcgc
  yeyo:
    image: docker.io/thauck/yeyo:0.3.0-dev.2
    volumes:
      - $PWD:/project
      - $HOME/.gitconfig:/etc/gitconfig
  poetry:
    image: jonatkinson/python-poetry
    volumes:
      - $PWD:/project
    working_dir: /project
    command: [poetry]
