version: "3"

services:
  gcgc:
    build:
      context: .
      args:
        PY_VERSION: "${PY_VERSION:-3.6}"
    image: docker.io/thauck/gcgc:${TAG-0.12.1-dev.2}
    volumes:
      - $PWD/gcgc/data:/data
    entrypoint:
      - make
    working_dir: /gcgc
  yeyo:
    image: docker.io/thauck/yeyo:0.3.0-dev.2
    volumes:
      - $PWD:/project
      - $HOME/.gitconfig:/etc/gitconfig
