[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
biopython = "*"
numpy = "*"
gcgc = {editable = true, path = "."}

[dev-packages]
black = "*"
ipython = "*"
pycodestyle = "*"
python-language-server = {version = "*", extras = ["pycodestyle"]}
ipdb = "*"
tox = "*"

[requires]
python_version = "3.6"
