name: Publish Docs

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install Tasks
        uses: Arduino/actions/setup-taskfile@master
        with:
          version: '3'
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Publish Docs
        run: task docs-publish-docker
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
