name: build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag gcgc:development
      - name: Run the unittests
        run: docker run --entrypoint make --rm gcgc:development test
      - name: Check formatting
        run: docker run --entrypoint make --rm gcgc:development fmt-check
      - name: Check pydocstyle
        run: docker run --entrypoint make --rm gcgc:development pydocstyle
